/log
/*/*.o
/test/test_workload
/train_set/bin
/train_set/bin_bolt
/train_set/data
/train_set/data_bolt
/train_set/test
/train_set/bolt_profiles
pmu_monitor
/python/plots
/.env
/configs
/spie-proceedings-style